*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}

html,body{
    height:100%;
    width:100%;
    background-image: url('../imagens/bg-form.jpg');
    background-repeat: no-repeat;
}

header{
    padding: 10px 0px;
    background-color:#d6d6d6;
}

.conteiner{
    width:100%
    height:50px;
} /*conteiner*/

.clear{
    clear:both;
}/*limpar*/

.logo1{
    width:160px;
    height:60px;
    float:left;
    margin:20px 50px;
    background-image: url('../imagens/logo1.png');
    background-size:100%;
    background-repeat:no-repeat;

}/*logo1*/

.menu{
    width:50%;
    height:100px;
    float:right;
    margin:10px 2%;

} /*logo2*/

.menu ul{
    list-style: none;
    background-color: black

}

.menu li{
    float:right;
    padding: 30px 20px;
    cursor: pointer;
    height:auto;
    width:auto;
}

.menu li:hover{
    background-color: white;
}

.conteiner-form{
    margin:0px auto;
    width:80%;
    height:600px;
    background-color:gray;
} /*conteiner-form*/

.titulo-form{
    width:100%;
    height: 100px;
    text-align: center;
    background-color:#A9A9A9;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color:black;
    padding:40px 0;

} /*titulo-form*/

.form{
    padding:10px 4%;
} /*form*/

.form input{
    width:100%;
    height:40px;
    padding:0 5%;
} /*form input*/

.form p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
} /*form paragrafo*/

.form:not(:first-child){
    margin-top:30px;
}

input[type=submit]{
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    margin-top:10px;
    background-color:#A9A9A9;
    border-radius:10px;
    cursor: pointer;
}
#p{
    margin:25px 8%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px
}

footer{
    text-align:center;
    padding:40px 0;
}

footer img{
    width:10%;
    height:10%;
}

.pa1{
    padding:5px 0;
}

@media screen and (max-width: 600px){
    [class^="logo"]{
        text-align:center;
        float:none;
        margin:4px auto;
    }

    .menu{
        text-align:center;
        float:none;
        margin:4px auto;
    }

    .menu ul{
        margin-right:20px;
    }

    .menu li{
        padding:20px 12px;
    }

}
